/*全体の装飾a*/
body {
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*ボタンの位置*/
.container {
    text-align: center;
}

.search-button {
    background-color: #1978d6; /* ボタンの背景色 */
    color: #ecf0f1; /* ボタンの文字色 */
    font-size: 27px;
}


/*ボタンクリック時の変化*/
.search-button:active {
    background-color: #ffffff; /* クリック時の色を白にする */
}
